body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1f1c2c, #928DAB);
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.container {
    padding: 30px;
}

h1 {
    margin-top: 20px;
}

.subtitle {
    opacity: 0.8;
    margin-bottom: 20px;
}

.card {
    background: white;
    color: black;
    width: 420px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
}

input[type="range"] {
    width: 100%;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: #00c853;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #00b34a;
}

.result-card {
    margin-top: 20px;
    padding: 15px;
    background: #ffffff;
    color: black;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}